 @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Outfit:wght@300;400;600&display=swap');
  
      :root
      {
      --Very-Dark-Magenta: hsl(300, 43%, 22%);
      --Soft-Pink: hsl(333, 80%, 67%);
      --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
      --Light-Grayish-Magenta: hsl(300, 24%, 96%);
      --White: hsl(0, 0%, 100%);
      }


      /*scrollbar color*/
      body::-webkit-scrollbar {
      width: 11px;
      }
      body {
      font-family: 'League Spartan', sans-serif;
      padding-top: 50px;
      position: absolute;/*Before and after attributes for html take position relative so we put body with position absolutes*/
      z-index: 2;
      top: 0px;
      }
      body::-webkit-scrollbar-track {
      background: var(--Very-Dark-Magenta);
      }
      body::-webkit-scrollbar-thumb {
      background-color: var(--Dark-Grayish-Magenta) ;
      }

      html {overflow-x: hidden;height: 100%;}

     html::after,html::before
    {
      content: "";
      display: block;
      background: url(images/bg-pattern-bottom-desktop.svg)center no-repeat;
      background-size: cover;
      max-width: 100%;
      right: 0px;
      top: -250px;
      height: 940px;
      position: relative;
      z-index: 0;

    }

      html::before
    {
      background: url(  images/bg-pattern-top-desktop.svg)center no-repeat;
      max-width: 540px;
      left: 0px;
      top: -60px;
      height: 370px;
     }
  

    ul 
    {
      list-style: none;
      padding: 0px;
    }

    .rating
    {
      display: grid;
      grid-template-columns: [first] 10px [line2] 2fr [line3] 3fr [line4] 1fr;
      grid-auto-rows: minmax(200px,auto);
      gap: 100px;
      place-items: stretch;
      grid-template-areas: '. details reviews .';
      grid-area: rating;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
    }

    .rating .details 
    {
      grid-area: details;
    }
    .rating h1
    {
      color: var(--Very-Dark-Magenta);
      font-size: 50px;
      line-height: 45px;
    }
    .rating .details p
    {    
      margin-top: -20px;
      font-size: 16px;
      line-height: 26px;
      color: var(--Dark-Grayish-Magenta);
    }

    .rating ul {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      grid-area: reviews;

    }
    .rating ul li 
    {
      background: var(--Light-Grayish-Magenta);
      border-radius: 6px;
      padding: 10px;
      width: 330px;
      color: var(--Very-Dark-Magenta);
      font-weight: 500;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 2fr 3fr;
    }
    .rating ul li:first-of-type 
    {
     align-self: flex-start;
    }
    .rating ul li:nth-of-type(2)
    {
      align-self:center;
    }
    .rating ul li:nth-of-type(3)
    {
      align-self:end;
    } 


    .comments
    {
      grid-area: comments;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3,1fr);
      place-items: center;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      padding: 0px 120px;

    }

    .comments li 
    {
      background: var(--Very-Dark-Magenta);
      border-radius: 10px;
      padding: 10px;
    }

    .comments li:first-of-type 
    {
      align-self: flex-start;
    }
    .comments li:nth-of-type(2)
    {
      align-self:center;
      margin-top: 20px;
    }
    .comments li:nth-of-type(3)
    {
      align-self:end;
      margin-top: 80px;
    }

    li p.comment{color: var(--Light-Grayish-Magenta);padding: 0px 20px;line-height: 25px;font-size: 17px;margin-top: -5px}
    li figure{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: center;margin: 10px}
    li figure figcaption{padding-left:25px ;}
    li figure img{width: 40px;border-radius: 50%;}
    li figure h3{color: var(--White);font-weight: 500;}
    li figure figcaption p{color: var(--Soft-Pink);font-weight: 400;line-height: 20px;margin-top: -10px}

    .attribution 
    {
      font-size: 11px;
      text-align: center;
      color: var(--Dark-Grayish-Magenta);
      margin-top: 60px;
      grid-area: attributes;
    }
    .attribution a 
    {
     color: var(--Soft-Pink);
    }

    @media(max-width: 775px)
    {


     html::after,html::before
    {
      
      background: url(images/bg-pattern-bottom-mobile.svg)center no-repeat;
      bottom: 0px;
      height: 1200px;
      top: 410px;
 

    }

      html::before
    {
      background: url(  images/bg-pattern-top-mobile.svg)center no-repeat;
      max-width: 95%;
      top: -90px;
      height: 370px;
     } 
     body{padding-top: 45px}
    .rating
    {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(200px,auto);
      gap: 30px;
      grid-template-areas:
           "details details details details details"
           "reviews reviews reviews reviews reviews";
      padding-left: 0px;
        }
    .rating h1
    {
    font-size: 36px;
    text-align: center;
    padding: 0px 40px;
    }
    .rating .details p
    {    
      font-size: 15px;
      text-align: center;
    }

    .rating ul {display: grid;place-items: center}
    .rating ul li 
    {
      width:90%;
      grid-template-columns: 1fr;
      place-items: center;
      gap: 10px;

    }
  
    .comments
    {
     grid-template-columns: 1fr;
     margin-top: 0px;
     padding: 0px;


    }
      .comments li 
    {
     width: 90%;
    }
    }


    @media(min-width: 450px) and (max-width: 995px)
    {

     html::after,html::before
    {
      content: "";
      display: block;
      background: url(images/bg-pattern-bottom-desktop.svg)center no-repeat;
      background-size: cover;
      max-width: 100%;
      right: 0px;
      top: -50px;
      height: 1200px;
    
    }

      html::before
    {
      background: url(  images/bg-pattern-top-desktop.svg)center no-repeat;
      max-width: 540px;
      left: 0px;
      top: -60px;
      height: 370px;
     }
     body{padding-top: 45px}
    .rating
    {
     grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(200px,auto);
    gap: 11px;
    grid-template-areas:
        ".details details details ."
        ". reviews reviews reviews .";
        }
    .rating h1
    {
    font-size: 44px;
    text-align: center;
    padding: 0px 40px;
    }
    .rating .details p
    {    
      font-size: 15px;
      text-align: center;
    }

    .rating ul {display: grid;}
    .rating ul li 
    {
      width:90%;
      grid-template-columns: 1fr;
      place-items: center;
      gap: 10px;

    }
  
    .comments
    {
     grid-template-columns: 1fr;
     margin-top: 0px;
     padding: 0px;

    }
      .comments li 
    {
     width: 70%;
    }

    .rating ul {display: grid;place-items: center}

    }
    @media(min-width: 250px) and (max-width: 605px)
       
    {
     .comments li 
    {
     width: 80%;
    }
}
